# INTELLIGENZA ARTIFICAILE CHE IMPARA A GUIDARE LA MACCHINA

Per eseguire il programma basta aprire il file index.html in google.


## MIGLIORAMENTI
- Aggiungere più macchine
- Aggiungere movimenti random delle macchine dummy
